body {
  font-family: $font-family-sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
  line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
  color: $black;
}

h1 {
  font-size: 36px;
}

h1::before {
  content: "#";
}

h3 {
  font-size: 18px;
}

h3::before {
  content: "##";
}

.button, .btn {
  font-family: $font-family-serif;
}

p {
  text-size: 14px;
  text-align: left;
}

a:link {
  color: $black;
}

a:visited {
  color: $black;
}

a:hover {
  color: $black;
}

a:active {
  color: $black;
}

.display-inline {
  display: inline;
}

.border-none {
  border: none;
}

.bg-white {
  background-color: white;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-grey {
  background-color: $grey;
}

.text-center {
  text-align: center;
}

.bg-pattern-green {
  background-image: url("../images/patterns-green-background.svg");
}

.bg-pattern-blue {
  background-image: url("../images/patterns-blue-background.svg");
}

.bg-pattern-yellow {
  background-image: url("../images/patterns-yellow-background.svg");
}

.font-weight-normal {
  font-weight: normal;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tabbed-list {
    display:inline-block;
    width:100px;
}
