.registration-banner {
  border: $border;
  font-size: 24px;
  font-family: $font-family-serif;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  a:link, a:visited {
    color: $black !important;
  }

  a:hover, a:active {
    color: $black !important;
  }

  span {
    float: right;
  }
}

.frontpage-content-text {
  font-family: $font-family-serif;
  font-size: 21px;
  padding-bottom: 20px;
  line-height: 24px;
}

@media(max-width:767px) {
  h1 {
    font-size: 21px;
  }

  .frontpage-content-text {
    font-size: 18px;
  }

  h2 {
     font-size: 20px;
  }
}

.icon-size {
  font-size: 45px;
}

.frontpage-content-icons {
  padding-bottom: 20px;
}

.frontpage-content-link {
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: underline;
}

.frontpage-content-link:link {
  color: inherit;
}

.frontpage-content-link:visited {
  color: inherit;
}

.frontpage-content-link:hover {
  opacity: 0.5;
  color: inherit;
}

.frontpage-content-link:active {
  opacity: 0.7;
  color: inherit;
}

.news-datablog-archive a {
  font-family: $font-family-serif;
}
