.header-full {
  background-color: $light-blue;
  font-size: 18px;
  padding: 0 30px 0 30px;
}

.header-logo {
  position: relative;
  top: -50px;
}

.current-menu-item {
  > a {
    font-weight: bold;
  }

  ::before, ::after {
    content: '**';
  }
}

.in li {
  clear: both;
}

.collapse li {
  float: left;
}

.brand-header {
  color: transparent;
  font: 0 / 0 a;
  display: inline;
}

.visible-lg-inline .nav-primary {
  border-bottom: $border;
}

.nav-primary {
  background-color: $light-blue;
  font-family: $font-family-serif;
  font-size: 21px;

  a:link, a:visited {
    color: $black;
  }

  a:hover, a:active, a:focus {
    background-color: $light-blue !important;
    color: $black;
    font-weight: bold;
  }
}

@media(max-width:767px) {
  .nav-primary {
    font-size: 18px;
  }
}
